@font-face {
    font-family: sfPro;
    src: url(./SF_Pro_Font/sf-pro-text_regular.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sfPro;
}
html,body{
    width: 100%;
    height: 100%;
}
/* wrapper div  */
#main{
    position: relative;
    overflow: hidden;
    background-color: #000;
}
#page{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #000;
}
#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 50vw;
    /* background-color: #000; */
    color:#fff;
    position: absolute;
    top:0%;
    left:50%;
    transform: translateX(-50%);
}
#page>nav>button{
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
}
#page>nav>h3{
    font-weight: 100;
}
#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
#page-bottom{
    height: 18%;
    width: fit-content;
    /* background-color: forestgreen; */
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page-bottom img{
    height: 50%;
    width: 100%;
}
#page-bottom>h3{
    color:#817f7f;
    margin-bottom: 0.5vw;
    /* font-size: 24px; */
}
#page1{
    position: relative;
    height: 180vh;
    width: 100vw;
    background-color: #fff;
}
#page1 h1{
    font-size: 4vw;
    color: #272d39;
    letter-spacing: -1.2px;
    margin-top: 50px;
    width: auto;
    font: 700 80px/92px 'Avenir LT Std', -apple-system, Roboto, Helvetica, sans-serif;
    position: absolute;
    bottom:15%;
    left:50%;
    transform: translateX(-50%);
    white-space: wrap;
}
#page1>video{
    height: 120%;
    width: 100%;
    object-fit: cover;
}
#page1-1{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #fff;
    padding-top: 1vh;
}
#page1-1 h1{
    font-size: 4vw;
    color: #272d39;
    letter-spacing: -1.2px;
    margin-top: 50px;
    width: auto;
    font: 700 80px/92px 'Avenir LT Std', -apple-system, Roboto, Helvetica, sans-serif;
    position: absolute;
    bottom:15%;
    left:50%;
    transform: translateX(-50%);
    white-space: wrap;
}
#page1-1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page2 h1{
    position: absolute;
    font-size: 4vw;
    font-weight: 400;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff;
    text-align: center;
}
#page2 >video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3{
    position: relative;
    height: 210vh;
    width: 100vw;
    background-color: #fff;
}
#page3-upper{
    height: 25%;
    width: 35%;
    /* background-color: green; */
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    top:5%;
}
#page3-upper img{
    width: 80%;
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
}
#page3-upper-inner{
    height: 60%;
    width: 100%;
    /* background-color: blue; */
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    color:#FF640F;

}
#page3-upper-inner>h3{
    font-weight: 800;
}
#page3-upper>p{
    position: absolute;
    font-weight: 800;
    color:#817f7f;
    top:95%;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
#page3>button{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border:1px solid #000;
    font-weight: 800;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    scale:1.05;
}
#page3>button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
#page3>img{
    width: 60%;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
}
#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;

}
#page5{
    position: relative;
    height: 70vh;
    width: 100vw;
    /* background-color: forestgreen; */
    display: flex;
}
.left5{
    height: 80%;
    width: 100%;
    position: relative;
    /* background-color: blue; */
}
.left5>h1{
    font-size: 3vw;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:20%;
    color: #F5F5F7;
    font-weight: 800;
}
.right5{
    height: 80%;
    width: 100%;
    /* background-color: rgb(0, 255, 234); */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    
}
.right5>h3{
    
    font-size: 1.5vw;
    width: 80%;
    display: block;
    color: #817f7f;
    

}
.right5>button{
    padding: 10px 20px;
    border: none;
    background-color: #FF640F;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.2vw;
    margin-top: 1.5vw;
}
#page6{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #F5F5F7;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}
#page6>h3{
    margin-bottom: 1vw;
    font-size: 1.5vw;
}
#page6>h1{
    margin-bottom: 1vw;
    font-size: 3vw;
}
#page6>p{
    margin-bottom: 1vw;
    font-size: 1.3vw;
    width: 60%;
    font-weight: 600;
    color: #817f7f;
}
#page7{
    position: relative; 
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
    /* z-index: 999; */

}
#page7>canvas{
    position: relative; 
    height: 100vh;
    width: 100vw;
    z-index: 999;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page8>h1{
    width: 20%;
    font-size: 1.3vw;
    font-weight: 600;
    color: #767575;
    z-index: 99;
    margin-left: 1%;
    top:50%;
    position: absolute;
    left:5%;
    transform: translateY(-50%);
}
#page8>h1>span{
    color:#000;
}
#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
}
#page9>h1{
    width: 20%;
    font-size: 1.3vw;
    font-weight: 600;
    color: #767575;
    z-index: 99;
    margin-left: 1%;
    top:50%;
    position: absolute;
    right:5%;
    transform: translateY(-50%);
}
#page9>h1>span{
    color:#000;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;

}
#page10>h1{
    width: 20%;
    font-size: 1.3vw;
    font-weight: 600;
    color: #767575;
    z-index: 99;
    margin-left: 1%;
    top:50%;
    position: absolute;
    left:5%;
    transform: translateY(-50%);
}
#page10>h1>span{
    color:#000;
}
#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;

}
#page11>h1{
    width: 20%;
    font-size: 1.3vw;
    font-weight: 600;
    color: #767575;
    z-index: 99;
    margin-left: 1%;
    top:50%;
    position: absolute;
    right:5%;
    transform: translateY(-50%);
}
#page11>h1>span{
    color:#000;
}
#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
   
}
#page12>h1{
    width: 20%;
    font-size: 1.3vw;
    font-weight: 600;
    color: #767575;
    z-index: 99;
    margin-left: 1%;
    top:50%;
    position: absolute;
    left:5%;
    transform: translateY(-50%);
}
#page12>h1>span{
    color:#000;
}
#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
   
}
#page13>h1{
    width: 20%;
    font-size: 1.3vw;
    font-weight: 600;
    color: #767575;
    z-index: 99;
    margin-left: 1%;
    top:50%;
    position: absolute;
    right:5%;
    transform: translateY(-50%);
}
#page13>h1>span{
    color:#000;
}
#page14{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large_2x.jpg);
    background-size: cover;
}
.right14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large_2x.jpg);
    background-size: cover;

}
#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
#center-page15{
    height: 94%;
    width: 95%;
    position: relative;
}
#center-page15>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page16{
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}
#page16>h2{
    position: absolute;
    width: 70%;
    font-weight: 800;
    top:5%;
    margin-bottom: 5%;
    padding-bottom: 50px;
    color: #767575;
}
#page16>h2>span{
    color: #000;
}
#page16>img{
    width: 50%;
    position: absolute;
    bottom: 0%;
    
}
#page16>button{
    position: absolute;
    bottom:5%;
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    background-color: #FF640F;
    color: #fff;
    font-weight: 600;
    border: none;
}
#page17{
    position: relative;
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}
#page17>h4{
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}
#page17>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
}
#page17>p{
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2vw;
    color: #ffffff7c;
    width: 50%;
    text-align: center;
}
#page17>p>span{
    color: #fff;
}
#page18{
    position: relative;
    height: 70vh;
    width: 100vw;
    top:0%;
    background-color: #000;

}
#page18>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
#page19{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    padding-top: 9%;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}
#page19>h5{
    
    width: 45%;
    line-height: 1.6rem;
    color: #817f7f;
    font-weight: 100;
    margin-bottom: 10%;
}
#page20{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page20>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page20{
    position: absolute;
    right: -35%;
    width: 70%;
    height: 50%;
    bottom:10%;
    color:#fff;
}
#center-page20 h1{
    font-size: 2vw;
    color: #fff;

}
#center-page20 p{
    width: 30%;
}
#page21{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page21>#troff{
    position: absolute;
    height: 60vh;
    width: 50%;
    top:50%;
    left:50%;
    z-index: 99;
    transform: translate(-50%,-50%);
}
#page21>#tron{
    position: absolute;
    height: 60vh;
    width: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#page22{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    /* background-color: #b51010; */
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
    
}
#page22>h5{
    width: 35%;
    line-height: 1.6rem;
    color: #817f7f;
    font-weight: 100;
}
#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page23>#snroff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page23>#snron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#page24{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    /* background-color: #b51010; */
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
    
}
#page24>h5{
    width: 35%;
    line-height: 1.6rem;
    color: #817f7f;
    font-weight: 100;
    margin-bottom: 10%;
}
#page25{
    position: relative;
    height: 120vh;
    width: 100vw;
    background-color: #000;
    
}
#page25>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity:0
}
#page26{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 50vh;
    width: 100vw;
    /* background-color: #b51010; */
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
    
}
#page26>h5{
    width: 45%;
    line-height: 1.6rem;
    color: #817f7f;
    font-weight: 100;
    margin-bottom: 15%;
}
#page26>button{
    position: absolute;
    bottom:10%;
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    background-color: #FF640F;
    color: #fff;
    font-weight: 600;
    border: none;
}